{% extends "base.html" %}

{% block content %}
<div class="title">
    <h2 class="text-center title-text">Samsung Galaxy S9+</h2>
</div>
<div class="row">
    <div class="col-2 mt-3">
        <a href="{{url_for('phoneDatabase')}}" class="return-link">
            <i class="fas fa-arrow-circle-left"></i> Go back</a>
    </div>

</div>
<div class="container">
    <div class="col-12 border border-dark mt-2 specs-content">
        <h1 class="text-center">Description</h1>
        <p class="lead">The Samsung Galaxy S9+ features a metal and glass design, with tapering edges on both sides.
            It has a 6.2-inch Quad HD+ Super AMOLED display with an 18.5:9 aspect ratio. Touch response and colours
            are superb and it also supports HDR. The phone uses an Exynos 9810 octa-core SoC and comes with
            6GB of RAM a choice of 64GB or 256GB internal storage, which is expandable. The stereo speakers delivers
            good sound quality and there's wireless charging here too. The main highlight is the camera, which
            features a variable aperture, super slow motion videos up to 960fps and AR Emojis. Camera performance is
            good too, especially in low light. There's also a second telephoto lens for shooting portraits and for
            optical zoom. The 3500mAh battery supports fast charging and should easily last an entire day on a
            single charge.</p>


        <div class="row justify-content-center">
            <div class="col-4">
                <h1 class="text-center">Gallery</h1>
                <div id="slideshow" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                        <li data-target="#slideshow" data-slide-to="1"></li>
                        <li data-target="#slideshow" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/imgs/s9-slideshow1.jpg" width="100%" height="300" />
                        </div>
                        <div class="carousel-item">
                            <img src="../static/imgs/s9-slideshow2.jpg" width="100%" height="300" />
                        </div>
                        <div class="carousel-item">
                            <img src="../static/imgs/s9-slideshow3.jpg" width="100%" height="300" />
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#slideshow" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#slideshow" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="containter">
                <table class="table text-white">
                    <tr>
                        <td rowspan="7">{{table_info[1]|safe}}</td>
                        <td>{{table_info[2]|safe}}</td>
                        <td>{{table_info[3]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[4]|safe}}</td>
                        <td>{{table_info[5]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[6]|safe}}</td>
                        <td>{{table_info[7]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[8]|safe}}</td>
                        <td>{{table_info[9]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[10]|safe}}</td>
                        <td>{{table_info[11]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[12]|safe}}</td>
                        <td>{{table_info[13]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[14]|safe}}</td>
                        <td>{{table_info[15]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[17]|safe}}</td>
                        <td>{{table_info[18]|safe}}</td>
                        <td>{{table_info[19]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="6">{{table_info[21]|safe}}</td>
                        <td>{{table_info[22]|safe}}</td>
                        <td>{{table_info[23]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[24]|safe}}</td>
                        <td>{{table_info[25]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[26]|safe}}</td>
                        <td>{{table_info[27]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[28]|safe}}</td>
                        <td>{{table_info[29]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[30]|safe}}</td>
                        <td>{{table_info[31]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[32]|safe}}</td>
                        <td>{{table_info[33]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="8">{{table_info[35]|safe}}</td>
                        <td>{{table_info[36]|safe}}</td>
                        <td>{{table_info[37]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[38]|safe}}</td>
                        <td>{{table_info[39]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[40]|safe}}</td>
                        <td>{{table_info[41]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[42]|safe}}</td>
                        <td>{{table_info[43]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[44]|safe}}</td>
                        <td>{{table_info[45]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[46]|safe}}</td>
                        <td>{{table_info[47]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[48]|safe}}</td>
                        <td>{{table_info[49]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[50]|safe}}</td>
                        <td>{{table_info[51]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="4">{{table_info[53]|safe}}</td>
                        <td>{{table_info[54]|safe}}</td>
                        <td>{{table_info[55]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[56]|safe}}</td>
                        <td>{{table_info[57]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[58]|safe}}</td>
                        <td>{{table_info[59]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[60]|safe}}</td>
                        <td>{{table_info[61]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{table_info[63]|safe}}</td>
                        <td>{{table_info[64]|safe}}</td>
                        <td>{{table_info[65]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[66]|safe}}</td>
                        <td>{{table_info[67]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="4">{{table_info[69]|safe}}</td>
                        <td>{{table_info[70]|safe}}</td>
                        <td>{{table_info[71]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[72]|safe}}</td>
                        <td>{{table_info[73]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[74]|safe}}</td>
                        <td>{{table_info[75]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[76]|safe}}</td>
                        <td>{{table_info[77]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="5">{{table_info[79]|safe}}</td>
                        <td>{{table_info[80]|safe}}</td>
                        <td>{{table_info[81]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[82]|safe}}</td>
                        <td>{{table_info[83]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[84]|safe}}</td>
                        <td>{{table_info[85]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[86]|safe}}</td>
                        <td>{{table_info[87]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[88]|safe}}</td>
                        <td>{{table_info[89]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="6">{{table_info[91]|safe}}</td>
                        <td>{{table_info[92]|safe}}</td>
                        <td>{{table_info[93]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[94]|safe}}</td>
                        <td>{{table_info[95]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[96]|safe}}</td>
                        <td>{{table_info[97]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[98]|safe}}</td>
                        <td>{{table_info[99]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[100]|safe}}</td>
                        <td>{{table_info[101]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[102]|safe}}</td>
                        <td>{{table_info[103]|safe}}</td>
                    </tr>
                    <tr>
                        <td rowspan="12">{{table_info[105]|safe}}</td>
                        <td>{{table_info[106]|safe}}</td>
                        <td>{{table_info[107]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[108]|safe}}</td>
                        <td>{{table_info[109]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[110]|safe}}</td>
                        <td>{{table_info[111]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[112]|safe}}</td>
                        <td>{{table_info[113]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[114]|safe}}</td>
                        <td>{{table_info[115]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[116]|safe}}</td>
                        <td>{{table_info[117]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[118]|safe}}</td>
                        <td>{{table_info[119]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[120]|safe}}</td>
                        <td>{{table_info[121]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[122]|safe}}</td>
                        <td>{{table_info[123]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[124]|safe}}</td>
                        <td>{{table_info[125]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[126]|safe}}</td>
                        <td>{{table_info[127]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[128]|safe}}</td>
                        <td>{{table_info[129]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[131]|safe}}</td>
                        <td>{{table_info[132]|safe}}</td>
                        <td>{{table_info[133]|safe}}</td>
                    </tr>
                    <tr>
                        <td>{{table_info[135]|safe}}</td>
                        <td>{{table_info[136]|safe}}</td>
                        <td>{{table_info[137]|safe}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<br>
<div class=" row ">
    <div class="container">
        <div class=" title mb-4">
            <h2 class="text-center title-text">Comments</h2>
        </div>
        {% if session['logged in'] == False %}
        <div class="container">
            <h3 class="text-center">Please <a href="/login">log in</a> to comment and view comments</h3>
        </div>
        {% else %}
        <div class="container">
            <form action="{{ url_for('post_comment_s9') }}" method="POST">
                <div class="form-group row">
                    <label for="Name" class="col-sm-2 col-form-label">username</label>
                    <div class="col-sm-5">
                        <input type="text" name=username readonly class="form-control-plaintext"
                            value="{{usernamevalue}}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="text-box" class="col-sm-2 col-form-label">comment</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="3" name=user_comment required></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-7 d-flex justify-content-end">
                        <button type="submit" class="btn btn-info" value=Sign>Submit</button>
                    </div>
                </div>
            </form>

            {% for entry in entries %}
            <ul class="list-unstyled">
                <li class="media">
                    <img src="https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1015&q=80"
                        class="mr-3" alt="..." width="30px" height="30px">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{entry[0]}}</h5>
                        {{entry[1]}}
                    </div>
                </li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">

    </div>
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    {% endblock %}